@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Darker Grotesque', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.body {
  background: url('./img/bg.jpg');
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
}

.nav {
  padding: 1rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}

.search-area {
  flex: 1;
  position: relative;
}

.search-bar {
  border: 1px solid #c6ffa4;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.75rem;
  width: 100%;
}

.down-icon {
  position: absolute;
  right: 2%;
  top: 22.5%;

  font-size: 1.25rem;
}

.logo {
  max-width: 5rem;
}

.hamburger {
  font-size: 3rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;

  padding: 4rem 0;
  justify-items: center;
}

.article {
  padding: 2rem;
  height: 10rem;
  width: 100%;
  background-color: rgb(198, 255, 164, 0.8);
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.article-text {
  font-size: 2rem;
  font-weight: 600;
}

.article-btn {
  position: absolute;
  bottom: -15%;
  right: 5%;
  width: 3rem;

  cursor: pointer;
}

.text {
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-text {
  flex: 1;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.person {
  display: flex;
  gap: 1rem;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person-name {
  font-size: 2.25rem;
  font-weight: 600;
}

.person-work {
  font-size: 1.25rem;
}

.heart-icon {
  font-size: 2rem;
}
